/Expert-cross-platform-C++-developer-for-ongoing-full-time-work-as-part-of-a-team/CMakeCache.txt
/Expert-cross-platform-C++-developer-for-ongoing-full-time-work-as-part-of-a-team/CMakeFiles
/Expert-cross-platform-C++-developer-for-ongoing-full-time-work-as-part-of-a-team/bin
Expert-cross-platform-C++-developer-for-ongoing-full-time-work-as-part-of-a-team/cmake_install.cmake
Expert-cross-platform-C++-developer-for-ongoing-full-time-work-as-part-of-a-team/Makefile
